
@use "./variables" as *;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: $app-color;
  border-radius: 20px;
  font-size: 1em;
  font-weight: 500;
  
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  background-color: $display-color;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 20px;
  }

.buttons-container {
  max-width: 100%;
  display: grid;
  grid-gap: 7px; 
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-template-areas:
      "clear posNeg percent div"
      "digit__7 digit__8 digit__9 mult"
      "digit__4 digit__5 digit__6 addsign"
      "digit__1 digit__2 digit__3 subsign"
      "digit__0 digit__0 decPoint equals"; 

  /* Assign grid areas */
  .digit__9 { grid-area: digit__9; }
  .digit__8 { grid-area: digit__8; }
  .digit__7 { grid-area: digit__7; }
  .digit__6 { grid-area: digit__6; }
  .digit__5 { grid-area: digit__5; }
  .digit__4 { grid-area: digit__4; }
  .digit__3 { grid-area: digit__3; }
  .digit__2 { grid-area: digit__2; }
  .digit__1 { grid-area: digit__1; }
  .digit__0 { grid-area: digit__0; }
  .clear {grid-area: clear}
  .convert__posNeg {grid-area :posNeg}
  .convert__percent {grid-area :percent}
  .operation__div {grid-area:div}
  .operation__mult {grid-area :mult}
  .operation__add {grid-area:addsign }
  .operation__sub {grid-area:subsign}
  .convert__dec {grid-area:decPoint}
  .equals {grid-area:equals}
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: $button-color;
  cursor: pointer;
  transition: border-color 0.25s;
  font-family: $font-family;
  


  
}

.output {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s; //deals with click coor change
  margin-bottom: 10px; // Adjust as needed
  
  // Reduce font size for longer numbers
  @for $i from 1 through $maxDigits {
    $maxWidth: calc(90vw / $i); // Adjust the divisor as needed
    @media (min-width: $maxWidth) {
      .display-#{$i} {
        font-size: calc($baseFontSize / $i); // Reduce font size proportionally
      }
    }
  }
}

